certifi==2025.1.31; python_version >= "3.7"
charset-normalizer==3.1.0; python_full_version >= "3.7.0" and python_version >= "3.7"
idna==3.10; python_version >= "3.7"
requests==2.32.2; python_version >= "3.7"
urllib3==2.3.0; python_version >= "3.7"
